  <span>
    <app-navbar></app-navbar>
  </span>
  <span *ngIf="!(dbAuth.authState | async)">
    <!--Always shows a header, even in smaller screens.-->
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <!-- Title -->
          <span class="mdl-layout-title" [routerLink]="['/home']">ALOCCA</span>
          <!-- Navigation. We hide it in small screens. -->
          <nav class="mdl-navigation mdl-layout--large-screen-only" >
          </nav>

          <div class="mdl-layout-spacer"></div>
          <button id="demo-menu-lower-left"
            class="mdl-button mdl-js-button mdl-button--accent mdl-color-text--white" (click)="login()" style="margin-left: 5px">
          <b>Entrar</b>
          </button>
          <button id="demo-menu-lower-left"
            class="mdl-button mdl-js-button mdl-button--accent mdl-color-text--white" [routerLink]="['/request-access']" style="margin-left: 5px">
          <b>Solicitar Acesso</b>
          </button>
        </div>
      </header>
    </div>
  </span>
