<md-card class="view-class-card">
  <md-toolbar color="primary" class="view-class-card-toolbar">
    Turmas Cadastradas
    <span class="spacer"></span>
  </md-toolbar>

  <md-card-content class="allocation-card-content">
      <table align="center" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th>Disciplina</th>
            <th>Turma</th>
            <th>Docente 1</th>
            <th>Docente 2</th>
            <th>Horários</th>
            <th>Obs.</th> 
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = 'let class of classesList'>
            <td>{{class.course}}</td>
            <td>{{class.number}}</td>
            <td>{{class.professorOne}}</td>
            <td>{{class.professorTwo}}</td>
            <td>{{class.schedules}}</td>
            <td>{{class.note}}</td>
            <td>Editar</td>
            <td>Excluir</td>
          </tr>
        </tbody>
      </table>
  </md-card-content>
</md-card>