<div>
  <br>
  <br>
  <br>
  <br>
  <table align="center">
    <tr>
      <th>CA</th>
      <th>Disciplina</th>
      <th>Docente 1</th>
      <th>Docente 2</th>
      <th>Tipo</th>
      <th>Créditos</th>
      <th>Obs.</th>
    </tr>
    <tr *ngFor = 'let aloc of allocationsList'>
      <th>{{aloc.ca}}</th>
      <th>{{aloc.course}}</th>
      <a [routerLink]="['/add-restriction/'+aloc.professorOne]"><th>{{aloc.professorOne}}</th></a>
      <th>{{aloc.professorTwo}}</th>
      <th>{{aloc.type}}</th>
      <th>{{aloc.credits}}</th>
      <th>{{aloc.obs}}</th>
      <a class="btn btn-default" [routerLink]="['/edit-allocation/'+aloc.$key]">Editar</a>
      <a (click)="onDeleteAllocation(aloc.$key)" class="btn btn-danger" >Excluir</a>
    </tr>
  </table>
</div>