<md-card class="visualize-allocation-card">
  <md-toolbar color="primary" class="view-allocation-card-toolbar">
    Alocações Cadastradas
    <span class="spacer"></span>
  </md-toolbar>

  <md-card-content class="allocation-card-content">
      <table align="center" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead>
          <tr>
            <th>CA</th>
            <th>Turma</th>
            <th>Disciplina</th>
            <th>Docente 1</th>
            <th>Docente 2</th>
            <th>Tipo</th>
            <th>Créditos</th>
            <th>UA Ofertante</th>
            <th>UA Requerente</th>
            <th>Obs.</th>
            <th></th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor = 'let aloc of allocationsList'>
            <th *ngIf='aloc.caControl' ><a (click)="onChangeCAStatus(aloc.$key,false)"><div class="foo green"></div></a></th>
            <th *ngIf='!aloc.caControl'><a (click)="onChangeCAStatus(aloc.$key,true)"><div class="foo red"></div></a></th>
            <th>{{aloc.classNumber}}</th>
            <th>{{aloc.course}}</th>
            <th>{{aloc.professorOneName}}</th>
            <th>{{aloc.professorTwoName}}</th>
            <th>{{aloc.courseType}}</th>
            <th>{{aloc.courseCredits}}</th>
            <th>{{aloc.courseOffererDepartment}}</th>
            <th>{{aloc.courseRequesterDepartment}}</th>
            <th>{{aloc.note}}</th>
            <th><a class="mdl-button mdl-js-button mdl-button--primary" [routerLink]="['/edit-allocation/'+aloc.$key]">Editar</a></th>
            <th><a (click)="onDeleteAllocation(aloc.$key,aloc.course,aloc.courseCredits,aloc.classNumber)" class="mdl-button mdl-js-button mdl-button--accent" >Excluir</a></th>
          </tr>
        </tbody>
      </table>
  </md-card-content>
</md-card>
