<!--Title-->
<h2 md-dialog-title>Novo Semestre</h2>

<!--Content-->
<md-dialog-content>
   <div class="new-semester-card-content">
        <md-select class="year-input" placeholder="Ano" [(ngModel)]="year" name="year">
          <md-option *ngFor="let year of years" [value]="year">
            {{ year }}
          </md-option>
        </md-select>

        <md-select class="semester-input" placeholder="Semestre" [(ngModel)]="period" name="period">
          <md-option *ngFor="let period of periods" [value]="period">
            {{ period }}
          </md-option>
        </md-select>
      </div>
</md-dialog-content>

<!--Actions-->
<md-dialog-actions class="dialog-actions">
  <div class="mdl-layout-spacer"></div>
  <button md-button md-dialog-close class="mdl-button mdl-js-button mdl-button--primary"
  style="margin-right: 10px;">Cancelar</button>
  <!-- Can optionally provide a result for the closing dialog. -->
  <button md-button [md-dialog-close]="true" class="mdl-button mdl-js-button mdl-button--primary">Salvar</button>
</md-dialog-actions>
