<!--Title-->
<h2 md-dialog-title>Novo Semestre</h2>

<!--Content-->
<form (ngSubmit)="onAddNewSemester()" #semesterForm="ngForm">
  <md-dialog-content>
    <div class="new-semester-card-content">
      <md-select class="year-input" placeholder="Ano" [(ngModel)]="year" name="year" floatPlaceholder="never">
        <md-option *ngFor="let year of years" [value]="year">
          {{ year }}
        </md-option>
      </md-select>

      <md-select class="semester-input" placeholder="Semestre" [(ngModel)]="semester" name="semester" floatPlaceholder="never">
        <md-option *ngFor="let semester of semesters" [value]="semester">
          {{ semester }}
        </md-option>
      </md-select>
    </div>
  </md-dialog-content>

  <!--Actions-->
  <md-dialog-actions class="dialog-actions">
    <div class="mdl-layout-spacer"></div>
    <button md-button md-dialog-close class="mdl-button mdl-js-button mdl-button--primary"
            style="margin-right: 10px;" >Cancelar</button>
    <!-- Can optionally provide a result for the closing dialog. -->
    <button md-button class="mdl-button mdl-js-button mdl-button--primary" [md-dialog-close]="true" (click)="onAddNewSemester()">Salvar</button>
  </md-dialog-actions>
  </form>