<md-card class="edit-allocation-card">
  <form (submit)="onUpdateAllocation()" #allocationForm="ngForm" align="center">
    <md-toolbar color="primary" class="edit-allocation-card-toolbar">
        Editar Alocação
        <span class="spacer"></span>
        <button md-button style="margin-right: 5px" [routerLink]="['/allocations']">Cancelar</button>
    </md-toolbar>

    <md-card-content class="edit-allocation-card-content">
      <div class="edit-allocation-card-row">
        <!--MAKE IT PRETTIER?? (and more intuitive)-->
        <label style="color: gray" [ngModel]="courseName" name="courseName" class="course-name2-input">{{courseName}}</label>
        <label style="color: gray" [ngModel]="professor1" name="professor1" class="professor1-name2-input">{{professor1}}</label>
        <label style="color: gray" [ngModel]="professor2" name="professor2" class="professor2-name2-input">{{professor2}}</label>
        <label style="color: gray" [ngModel]="oldNote" name="oldNote" class="note-name2-input">{{oldNote}}</label>
      </div>
      <div class="edit-allocation-card-row">
        <md-select class="course-name-input" placeholder="Disciplina" [(ngModel)]="courseName" name="courseName" required>
          <md-option *ngFor="let course of coursesList" [value]="course.$key">
            {{ course.name }}
          </md-option>
        </md-select>

        <md-select class="professor1-name-input" placeholder="Docente 1" [(ngModel)]="professor1" name="professor1" required>
          <md-option *ngFor="let prof of professorsList" [value]="prof.SIAP">
            {{ prof.name }}
          </md-option>
        </md-select>

        <md-select class="professor2-name-input" placeholder="Docente 2" [(ngModel)]="professor2" name="professor2">
          <md-option *ngFor="let prof of professorsList" [value]="prof.SIAP">
            {{ prof.name }}
          </md-option>
        </md-select>


        <md-input-container class="allocation-note-container">
          <input mdInput class="allocation-note-input" placeholder="Observação" [(ngModel)]="note" name="note">
        </md-input-container>

      </div>
      <button md-button [disabled]="!allocationForm.form.valid" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">Alterar</button>
    </md-card-content>
  </form>
</md-card>