<div>
  <form (submit)="onUpdateAllocation()">
    <div align="center"><h3>Editar Alocação</h3></div>
    <div class= "form-group" align="center">
      <div class="container"><flash-messages></flash-messages></div>
      <input type="text" list="courses" [(ngModel)]="course" name="course" placeholder="Disciplina" required>
      <datalist id="courses">
        <option *ngFor = 'let course of coursesList' value={{course.nome}}>
      </datalist>

      <input type="text" list="professors1" [(ngModel)]="professorOne" name="professorOne" placeholder="Docente 1" required>
      <datalist id="professors1">
        <option *ngFor = 'let prof of professorsList' value={{prof.Nome}}>
      </datalist>
            
      <input type="text" list="professors2" [(ngModel)]="professorTwo" name="professorTwo" placeholder="Docente 2">
      <datalist id="professors2" value="NA">
        <option *ngFor = 'let prof of professorsList' value={{prof.Nome}}>
      </datalist>
      <input type="submit" value="Atualizar" class="btn btn-success">
    </div>
  </form>
</div>