<md-card class="new-user-card">
  <form (ngSubmit)="onAddNewUser()" #userForm="ngForm">
    <!--Toolbar-->
    <md-toolbar color="primary" class="new-user-card-toolbar">
      Cadastrar Usuário   
      <span class="spacer"></span>
      <button md-button style="margin-right: 5px" [routerLink]="['/']">Cancelar</button> 
      <button md-button [disabled]="!userForm.form.valid" >Solicitar Acesso</button>
    </md-toolbar>

    <!--Form-->
    <md-card-content class="new-user-card-content">
      <div class="user-card-row">
        <!-- user's name -->
        <md-input-container class="user-name-input" type="text">
          <input mdInput placeholder="Nome" [(ngModel)]="nome" name="nome" required>
        </md-input-container>
        <!-- user's e-mail -->
        <md-input-container class="user-email-input">
          <input mdInput type = "email"  pattern="[A-Za-z0-9._%+-]+@computacao.ufcg.edu.br" placeholder="E-mail" [(ngModel)]="email" name="email" required>
        </md-input-container>

      </div>
    </md-card-content>
  </form>
</md-card>
