<md-card class="board-container">
    <md-tab-group>
        <md-tab label="Alertas">
            <md-card class="alert-container">
                <md-card-title>Conflito entre disciplinas</md-card-title>
                <md-card-content>
                    <p> As disciplinas <b>EDA</b> e <b>GI</b> são do mesmo período e 
                    estão alocadas para o mesmo horário.</p>
                </md-card-content>
                <md-card-actions>
                    <button md-button color="primary">IGNORAR</button>
                </md-card-actions>
            </md-card>
        </md-tab>
        <md-tab label="Ignorados">Content 2</md-tab>
    </md-tab-group>
</md-card>
