<div class="table-container">
  <table align="left" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
    <thead>
      <tr>
        <th>Verificado</th>
        <th>Disciplina</th>
        <th>Turma</th>
        <th>Professor 1</th>
        <th>Professor 2</th>
        <th>Horários</th>
        <th>Comentário</th> 
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor = 'let class of classesList'>
        <!--CHANGE-->
        <td><md-checkbox></md-checkbox></td>
        <td>{{ class.course }}</td>
        <td>{{class.number}}</td>
        <td>{{class.professor1}}</td>
        <td>{{class.professor2}}</td>
        <td>
          <span *ngFor='let hour of class.schedules.monday.hours'>
              <span *ngIf = 'hour'>
                SEG - {{hour}}h
              <br></span>
          </span>
          <span *ngFor='let hour of class.schedules.tuesday.hours'>
              <span *ngIf = 'hour'>
                TER - {{hour}}h
              <br></span>
          </span>
          <span *ngFor='let hour of class.schedules.wednesday.hours'>
              <span *ngIf = 'hour'>
                QUA - {{hour}}h
              <br></span>
          </span>
          <span *ngFor='let hour of class.schedules.thursday.hours'>
              <span *ngIf = 'hour'>
                QUI - {{hour}}h
              <br></span>
          </span>
          <span *ngFor='let hour of class.schedules.friday.hours'>
              <span *ngIf = 'hour'>
                SEX - {{hour}}h
              <br></span>
          </span>
        </td>
        <td>{{class.note}}</td>
        <td [routerLink]="['/edit-class/'+class.$key]">
         <button md-icon-button type="submit" color="accent">
          <md-icon>edit</md-icon>
        </button>
        </td>
        <td (click)="onDeleteClass(class.$key)">
           <button md-icon-button type="submit" color="warn">
              <md-icon>delete</md-icon>
           </button>
        </td>
      </tr>
    </tbody>
  </table>
</div>