.new-allocation-card {
  margin: 50px 50px 50px 50px;
  padding: 0px 0px 0px 0px;
}

.new-allocation-card-content {
    padding: 30px 30px 30px 30px;
}

.course-name-input {
    width: 25%;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 24px;  
}

.classes-number-input {
    margin-right: 24px;
    width: auto;
}

.spacer {
  flex: 1 1 auto;
}

.classes-container {
    padding: 1.6% 1.6% 1.6% 1.6%;
    background: #E1F5FE;
}

.new-classes-header {
    padding: 8px 8px 8px 8px;
    font-style: bold;
    font-size: 1.5em;
    text-align: left;
}

.new-classes-content {
    margin: 8px 8px 8px 8px;
}

.create-classes-container {
    background: white;
    margin-bottom: 24px;
    padding: 10px 10px 10px 10px;
}