<md-card class="new-allocation-card">
  <form (ngSubmit)="saveNewClasses()" #allocationForm="ngForm" align="center">
    <md-toolbar color="primary" class="new-allocation-card-toolbar">
        Adicionar Alocação
    </md-toolbar>

    <md-card-content class="new-allocation-card-content">
      <div class="new-allocation-card-row">

        <md-select class="course-name-input" placeholder="Disciplina" [(ngModel)]="courseKey" name="courseKey" required>
          <md-option *ngFor="let course of coursesList" [value]="course.$key">
            {{ course.name }}
          </md-option>
        </md-select>

         <md-input-container>
          <input mdInput placeholder="Turmas" type="number" [(ngModel)]="classesNumber" name="classesNumber" min="1" step="1" required>
        </md-input-container>

      <button md-button [disabled]="!allocationForm.form.valid" type="submit" class="mdl-button mdl-js-button mdl-button--raised mdl-button--colored">
        Criar turmas
      </button>

      </div>
  
    </md-card-content>
  </form>
</md-card>
<app-allocation-table></app-allocation-table>
