<md-card class="new-allocation-card">
  <form (ngSubmit)="onAddNewAllocation()" #allocationForm="ngForm" align="center">
    <md-toolbar color="primary" class="new-allocation-card-toolbar">
        Adicionar Alocação
        <span class="spacer"></span>
        <button md-button [disabled]="!allocationForm.form.valid" type="submit">Alocar</button>
    </md-toolbar>

    <md-card-content class="new-allocation-card-content">
      <div class="new-allocation-card-row">

        <md-select class="course-name-input" placeholder="Disciplina" [(ngModel)]="courseKey" name="courseKey" required>
          <md-option *ngFor="let course of coursesList" [value]="course.$key">
            {{ course.name }}
          </md-option>
        </md-select>

        <md-select class="professor1-name-input" placeholder="Docente 1" [(ngModel)]="professorOneSIAP" name="professorOneSIAP" required>
          <md-option *ngFor="let prof of professorsList" [value]="prof.SIAP">
            {{ prof.name }}
          </md-option>
        </md-select>

        <md-select class="professor2-name-input" placeholder="Docente 1" [(ngModel)]="professorTwoSIAP" name="professorTwoSIAP">
          <md-option *ngFor="let prof of professorsList" [value]="prof.SIAP">
            {{ prof.name }}
          </md-option>
        </md-select>
      </div>
      <button md-button [disabled]="!allocationForm.form.valid" type="submit">Alocar</button>
    </md-card-content>
  </form>
</md-card>
<app-allocation-table></app-allocation-table>