<div class="classes-container">
  <md-card class="create-classes-container">
    <form (ngSubmit)="saveNewClasses()" #classForm="ngForm">
     <div class="new-classes-header">
       Criar Turmas
     </div>
     
        <div class="new-classes-content">

          <md-select class="course-name-input" placeholder="Disciplina" [(ngModel)]="courseName" name="courseName" required>
            <md-option *ngFor="let course of coursesList" [(value)]="course.name">
              {{ course.name }}
            </md-option>
          </md-select>

          <md-input-container class="classes-number-input">
            <input mdInput placeholder="Turmas" type="number" [(ngModel)]="classesNumber" name="classesNumber" min="1" step="1" required>
          </md-input-container>

        <button md-button [disabled]="!classForm.form.valid" type="submit" color="primary">
          SALVAR
        </button>

        </div>

    </form>
  </md-card>
  <div>
    <app-allocation-table></app-allocation-table>
  </div>
</div>


