<md-card class="new-professor-card">
  <form (ngSubmit)="onAddNewProfessor()" #professorForm="ngForm">
    <!--Toolbar-->
    <md-toolbar color="primary" class="new-professor-card-toolbar">
      Cadastrar Professor   
      <span class="spacer"></span>
      <button md-button style="margin-right: 5px" [routerLink]="['/view-professors']">Cancelar</button> 
      <button md-button [disabled]="!professorForm.form.valid" >Salvar</button>
    </md-toolbar>

    <!--Form-->
    <md-card-content class="new-professor-card-content">
      <div class="professor-card-row">
        <!-- Professor's SIAP -->
        <md-input-container class="professor-SIAP-input" type="text">
          <input mdInput placeholder="SIAP" [(ngModel)]="SIAP" name="SIAP" size="7" maxlength="7" pattern="[0-9]{7}" required>
        </md-input-container>
        <!-- Professor name -->
        <md-input-container class="professor-name-input" type="text">
          <input mdInput placeholder="Nome" [(ngModel)]="name" name="name" required>
        </md-input-container>
        <!-- Professor nickname -->
        <md-input-container class="professor-nickname-input" type="text">
          <input mdInput placeholder="Apelido" [(ngModel)]="nickName" name="nickName" required>
        </md-input-container>
      </div>
    </md-card-content>
  </form>
</md-card>