<md-card id="edit-professor-card">
  <form (ngSubmit)="onEditProfessor()" #editarProfessorForm="ngForm">
  <!--Toolbar-->
    <md-toolbar class="edit-professor-card-toolbar mdl-color-text--white mdl-color--primary">
      Editar Professor
      <span class="spacer"></span>
      <button md-button id="cancel-button" [routerLink]="['/view-professors']">Cancelar</button>
      <button md-button [disabled]="!editarProfessorForm.form.valid">Salvar</button>
    </md-toolbar>

  <!--Form-->
    <md-card-content id="edit-professor-card-content">
      <div class="professor-card-row">
        
      <!-- Professor's SIAPE -->
        <md-input-container id="edit-professor-SIAPE-input" type="text">
          <input mdInput placeholder="SIAPE" [(ngModel)]="SIAPE" name="SIAPE" name="SIAPE" size="7" maxlength="7" pattern="[0-9]{7}" required>
        </md-input-container>

      <!-- Professor name -->
        <md-input-container id="edit-professor-name-input" type="text">
          <input mdInput placeholder="Nome" [(ngModel)]="name" name="name" required>
        </md-input-container>

      <!-- Professor nickname -->
        <md-input-container id="edit-professor-nickname-input" type="text">
          <input mdInput placeholder="Apelido" [(ngModel)]="nickname" name="nickname" size="10" maxlength="10" required>
        </md-input-container>

      </div>
    </md-card-content>
  </form>
</md-card>