<md-card class="edit-professor-card">
  <form (ngSubmit)="onEditProfessor()" #editarProfessorForm="ngForm">
    <!--Toolbar-->
    <md-toolbar color="primary" class="new-professor-card-toolbar">
      Editar Professor
      <span class="spacer"></span>
      <button md-button style="margin-right: 5px" [routerLink]="['/view-professors']">Cancelar</button>
      <button md-button [disabled]="!editarProfessorForm.form.valid">Salvar</button>
    </md-toolbar>

    <!--Form-->
    <md-card-content class="edit-professor-card-content">
      <div class="professor-card-row">
        <!-- Professor name -->
        <md-input-container class="edit-professor-name-input" type="text">
          <input mdInput placeholder="Nome" [(ngModel)]="nome" name="nome" required>
        </md-input-container>

        <!-- Professor's SIAP -->
        <md-input-container class="edit-professor-SIAP-input" type="text">
          <input mdInput placeholder="SIAP" onkeyup="somenteNumeros(this);" [(ngModel)]="SIAP" name="SIAP" required>
        </md-input-container>
        <script>
            function somenteNumeros(num) {
                var er = /[^0-9.]/;
                er.lastIndex = 0;
                var campo = num;
                if (er.test(campo.value)) {
                  campo.value = "";
                }
            }
        </script>
      </div>
    </md-card-content>
  </form>
</md-card>