<md-card class="visualize-schedules-card">  
  <md-card-content class="classes-schedules-table">
      <table align="center" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead class="table-head">
          <tr>
            <th ></th>
            <th class="week-day">Segunda</th>
            <th class="week-day">Terça</th>
            <th class="week-day">Quarta</th>
            <th class="week-day">Quinta</th>
            <th class="week-day">Sexta</th>
          </tr>
        </thead>
        <tbody>
          <!--(CLASS) HOURS OF THE DAY-->
          <tr *ngFor = 'let hour of [7,8,10,12,14,16,18]'>
            <td class="week-hours">
              {{hour}}
            </td>
            <!--DAYS OF THE WEEK MON-FRI -->
            <td *ngFor = 'let day of [2,3,4,5,6]'>
              <table>
                <thead>
                  <th>Disciplina</th>
                  <th>Docente</th>
                  <th>Período</th>
                </thead>
                <tbody>
                  <!--CHANGE <td>s TO GET CLASS DATA AND APPLY TIME AND DAY CONDITIONS-->
                  <tr *ngFor = 'let scheduled of schedules'>
                    <td>testando {{scheduled.getClassID()}}</td>
                    <td>testando {{scheduled.getClassID()}} + 2</td>
                    <td>testando {{scheduled.getClassID()}} + 3</td>
                  </tr>
                  <tr>
                    <td colspan="3">
                      <md-select class="new-class-selection" placeholder="Turma" required>
                        <!--CHANGE TO LIST OF CLASSES-->
                        <md-option *ngFor="let schedule of schedules" [value]="schedule.classId">
                          <!--CHANGE TO GET CLASS NAME-->
                          {{ schedule.getClassID() }}
                        </md-option>
                      </md-select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>

          </tr>
        </tbody>
      </table>
  </md-card-content>
</md-card>