<md-card class="visualize-schedules-card">
  <md-card-content class="classes-schedules-table">
    <div class= "div-table">
      <table class="geral-table" align="center" class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
        <thead class="table-head">
          <tr class="geral-table">
            <th ></th>
            <th class="week-day">Segunda</th>
            <th class="week-day">Terça</th>
            <th class="week-day">Quarta</th>
            <th class="week-day">Quinta</th>
            <th class="week-day">Sexta</th>
          </tr>
        </thead>
        <tbody class="geral-table">
          <tr class="nohover" *ngFor = 'let hour of [7,8,10,12,14,16,18]'>
            <td class="week-hours">
              {{hour}}
            </td>

            <!--Monday-->
            <td>
              <table class="hour-table">
                <thead>
                  <th class="hour-th">Disciplina</th>
                  <th class="hour-th">Docente(s)</th>
                  <th class="hour-th">Período</th>
                  <th class="hour-th"></th>
                </thead>
                <tbody class="hour-td">
                  <tr *ngFor = 'let class of classes'>
                    <td>{{class.course}} - t{{class.number}}</td>

                    <!--IN CASE THE CLASS HAS TWO PROFESSORS-->
                    <td *ngIf='class.professor2'>{{class.professor1}} - {{class.professor2}}</td>
                    <!--IN CASE THE CLASS DOESN'T HAVE A PROFESSOR YET-->
                    <td *ngIf='!class.professor1; else justOneProfessor'>???</td>
                    <!--IN CASE THE CLASS HAS ONE PROFESSORS-->
                    <ng-template #justOneProfessor><td *ngIf='!class.professor2'>{{class.professor1}}</td></ng-template>
                    
                    <!--IN CLASSES THEY'RE USING 'period'. IF THEY DON'T CHANGE IT,
                    TELL THEM TO DO SO.-->
                    <td>{{class.recomendedSemester}}</td>
                    <!--CHANGE FUNCTION PARAMETER-->
                    <td><a (click)="onDeleteClassSchedule()" class="foo-red" ><i class="material-icons">delete_forever</i></a></td>
                  </tr>
                  <tr>
                    <td colspan="4">
                      <md-select class="new-class-selection" placeholder="Turma" [(ngModel)]="courseKey" name="courseKey" required>
                        <span *ngFor="let class of classes">
                          <md-option *ngIf = "class.scheduledHours>0" [value]="course">
                            {{class.course}} - t{{class.number}}
                          </md-option>
                        </span>
                      </md-select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
            <!--Tuesday-->
            <td>
              <table class="hour-table">
                <thead>
                  <th class="hour-th">Disciplina</th>
                  <th class="hour-th">Docente(s)</th>
                  <th class="hour-th">Período</th>
                  <th class="hour-th"></th>
                </thead>
                <tbody class="hour-td">
                  <tr *ngFor = 'let class of classes'>
                    <td>{{class.course}} - t{{class.number}}</td>

                    <!--IN CASE THE CLASS HAS TWO PROFESSORS-->
                    <td *ngIf='class.professor2'>{{class.professor1}} - {{class.professor2}}</td>
                    <!--IN CASE THE CLASS DOESN'T HAVE A PROFESSOR YET-->
                    <td *ngIf='!class.professor1; else justOneProfessor'>???</td>
                    <!--IN CASE THE CLASS HAS ONE PROFESSORS-->
                    <ng-template #justOneProfessor><td *ngIf='!class.professor2'>{{class.professor1}}</td></ng-template>
                    
                    <!--IN CLASSES THEY'RE USING 'period'. IF THEY DON'T CHANGE IT,
                    TELL THEM TO DO SO.-->
                    <td>{{class.recomendedSemester}}</td>
                    <!--CHANGE FUNCTION PARAMETER-->
                    <td><a (click)="onDeleteClassSchedule()" class="foo-red" ><i class="material-icons">delete_forever</i></a></td>
                  </tr>
                  <tr>
                    <td colspan="4">
                      <md-select class="new-class-selection" placeholder="Turma" [(ngModel)]="courseKey" name="courseKey" required>
                        <span *ngFor="let class of classes">
                          <md-option *ngIf = "class.scheduledHours>0" [value]="course">
                            {{class.course}} - t{{class.number}}
                          </md-option>
                        </span>
                      </md-select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
            <!--Wednesday-->
            <td>
              <table class="hour-table">
                <thead>
                  <th class="hour-th">Disciplina</th>
                  <th class="hour-th">Docente(s)</th>
                  <th class="hour-th">Período</th>
                  <th class="hour-th"></th>
                </thead>
                <tbody class="hour-td">
                  <tr *ngFor = 'let class of classes'>
                    <td>{{class.course}} - t{{class.number}}</td>

                    <!--IN CASE THE CLASS HAS TWO PROFESSORS-->
                    <td *ngIf='class.professor2'>{{class.professor1}} - {{class.professor2}}</td>
                    <!--IN CASE THE CLASS DOESN'T HAVE A PROFESSOR YET-->
                    <td *ngIf='!class.professor1; else justOneProfessor'>???</td>
                    <!--IN CASE THE CLASS HAS ONE PROFESSORS-->
                    <ng-template #justOneProfessor><td *ngIf='!class.professor2'>{{class.professor1}}</td></ng-template>
                    
                    <!--IN CLASSES THEY'RE USING 'period'. IF THEY DON'T CHANGE IT,
                    TELL THEM TO DO SO.-->
                    <td>{{class.recomendedSemester}}</td>
                    <!--CHANGE FUNCTION PARAMETER-->
                    <td><a (click)="onDeleteClassSchedule()" class="foo-red" ><i class="material-icons">delete_forever</i></a></td>
                  </tr>
                  <tr>
                    <td colspan="4">
                      <md-select class="new-class-selection" placeholder="Turma" [(ngModel)]="courseKey" name="courseKey" required>
                        <span *ngFor="let class of classes">
                          <md-option *ngIf = "class.scheduledHours>0" [value]="course">
                            {{class.course}} - t{{class.number}}
                          </md-option>
                        </span>
                      </md-select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
            <!--Thursday-->
            <td>
              <table class="hour-table">
                <thead>
                  <th class="hour-th">Disciplina</th>
                  <th class="hour-th">Docente(s)</th>
                  <th class="hour-th">Período</th>
                  <th class="hour-th"></th>
                </thead>
                <tbody class="hour-td">
                  <tr *ngFor = 'let class of classes'>
                    <td>{{class.course}} - t{{class.number}}</td>

                    <!--IN CASE THE CLASS HAS TWO PROFESSORS-->
                    <td *ngIf='class.professor2'>{{class.professor1}} - {{class.professor2}}</td>
                    <!--IN CASE THE CLASS DOESN'T HAVE A PROFESSOR YET-->
                    <td *ngIf='!class.professor1; else justOneProfessor'>???</td>
                    <!--IN CASE THE CLASS HAS ONE PROFESSORS-->
                    <ng-template #justOneProfessor><td *ngIf='!class.professor2'>{{class.professor1}}</td></ng-template>
                    
                    <!--IN CLASSES THEY'RE USING 'period'. IF THEY DON'T CHANGE IT,
                    TELL THEM TO DO SO.-->
                    <td>{{class.recomendedSemester}}</td>
                    <!--CHANGE FUNCTION PARAMETER-->
                    <td><a (click)="onDeleteClassSchedule()" class="foo-red" ><i class="material-icons">delete_forever</i></a></td>
                  </tr>
                  <tr>
                    <td colspan="4">
                      <md-select class="new-class-selection" placeholder="Turma" [(ngModel)]="courseKey" name="courseKey" required>
                        <span *ngFor="let class of classes">
                          <md-option *ngIf = "class.scheduledHours>0" [value]="course">
                            {{class.course}} - t{{class.number}}
                          </md-option>
                        </span>
                      </md-select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>
            <!--Friday-->
            <td>
              <table class="hour-table">
                <thead>
                  <th class="hour-th">Disciplina</th>
                  <th class="hour-th">Docente(s)</th>
                  <th class="hour-th">Período</th>
                  <th class="hour-th"></th>
                </thead>
                <tbody class="hour-td">
                  <tr *ngFor = 'let class of classes'>
                    <td>{{class.course}} - t{{class.number}}</td>

                    <!--IN CASE THE CLASS HAS TWO PROFESSORS-->
                    <td *ngIf='class.professor2'>{{class.professor1}} - {{class.professor2}}</td>
                    <!--IN CASE THE CLASS DOESN'T HAVE A PROFESSOR YET-->
                    <td *ngIf='!class.professor1; else justOneProfessor'>???</td>
                    <!--IN CASE THE CLASS HAS ONE PROFESSORS-->
                    <ng-template #justOneProfessor><td *ngIf='!class.professor2'>{{class.professor1}}</td></ng-template>
                    
                    <!--IN CLASSES THEY'RE USING 'period'. IF THEY DON'T CHANGE IT,
                    TELL THEM TO DO SO.-->
                    <td>{{class.recomendedSemester}}</td>
                    <!--CHANGE FUNCTION PARAMETER-->
                    <td><a (click)="onDeleteClassSchedule()" class="foo-red" ><i class="material-icons">delete_forever</i></a></td>
                  </tr>
                  <tr>
                    <td colspan="4">
                      <md-select class="new-class-selection" placeholder="Turma" [(ngModel)]="courseKey" name="courseKey" required>
                        <span *ngFor="let class of classes">
                          <md-option *ngIf = "class.scheduledHours>0" [value]="course">
                            {{class.course}} - t{{class.number}}
                          </md-option>
                        </span>
                      </md-select>
                    </td>
                  </tr>
                </tbody>
              </table>
            </td>

          </tr>
        </tbody>
      </table>
    </div>
  </md-card-content>
</md-card>
