#home-initial-section{
    margin-top: 7%;
    text-align: center;
}

#home-about-section{
    margin-top: 7%;
    text-align: center;
}

/* Remove the blue outline from a selected option. */
*:focus {
outline: none;
}