<md-card class="edit-course-card">
  <form (ngSubmit)="onEditCourse()" #courseForm="ngForm">
    <!--Toolbar-->
    <md-toolbar color="primary" class="edit-course-card-toolbar">
        Editar Disciplina
        <span class="spacer"></span>
        <button md-button style="margin-right: 5px" [routerLink]="['/view-courses']">Cancelar</button>
        <button md-button [disabled]="!courseForm.form.valid" type="submit">Salvar</button>
    </md-toolbar>

    <!--Form-->
    <md-card-content class="edit-course-card-content">
        <div class="course-card-row">
            <!-- Course name -->
            <md-input-container class="course-name-input">
                <input mdInput placeholder="Nome" type="text" [(ngModel)]="name" name="name" required>
            </md-input-container>

            <!-- Course short name -->
            <md-input-container class="course-shortName-input">
                <input mdInput placeholder="Abreviação" type="text" [(ngModel)]="shortName" name="shortName" required>
            </md-input-container>

            <!-- Credits -->
            <md-input-container class="course-credits-input">
                <input mdInput placeholder="Créditos" type="number" [(ngModel)]="credits" min="0" onkeypress="return event.charCode >= 48" name="credits" required>
            </md-input-container>
        </div>

        <div class="edit-course-row">
            <!-- Type of course-->
            <md-select class="course-type-input" placeholder="Tipo" [(ngModel)]="type" name="type" required>
                <md-option *ngFor="let type of courseTypes" [value]="type">
                    {{ type }}
                </md-option>
            </md-select>

            <span [ngSwitch]="type">
                <span *ngSwitchCase="'Optativa'">
                    <!--Recomended minimum Semester-->
                    <md-select class="course-semester-input" placeholder="Semestre Mín. Recomendado" [(ngModel)]="minimumSemester" name="minimumSemester" required>
                        <md-option *ngFor="let sem of semesters" [value]="sem">
                            {{ sem }}
                        </md-option>
                    </md-select>

                    <!--Recommended maximum Semester-->
                    <md-select class="course-semester-input" style="margin-left: 30px;" placeholder="Semestre Máx. Recomendado" [(ngModel)]="maximumSemester" name="maximumSemester" required>
                        <md-option *ngFor="let sem of semesters" [value]="sem">
                            {{ sem }}
                        </md-option>
                    </md-select>
                </span>

                <span *ngSwitchDefault>
                    <!--Recommended semester for non-optional courses-->
                     <md-select class="course-semester-input" placeholder="Semestre Recomendado" [(ngModel)]="maximumSemester" [(ngModel)]="minimumSemester" name="recomendedSemester" required>
                        <md-option *ngFor="let sem of semesters" [value]="sem">
                            {{ sem }}
                        </md-option>
                    </md-select>
                </span>
            </span>

        </div>

       <div class="course-card-row">
        <!--Offerer department-->
           <md-select class="course-department-input" placeholder="UA Ofertante" [(ngModel)]="offererDepartment" name="offererDepartment" required>
                <md-option *ngFor="let dep of departments" [value]="dep">
                    {{ dep }}
                </md-option>
           </md-select>

           <!--requerer department-->
            <md-select class="course-department-input" style="margin-left: 30%; width:21%;" placeholder="UA Solicitante" [(ngModel)]="requesterDepartment" name="requesterDepartment" required>
                    <md-option *ngFor="let dep of departments" [value]="dep">
                        {{ dep }}
                    </md-option>
           </md-select>
       </div>
    </md-card-content>
  </form>
</md-card>
