<md-card class="visualize-professor-card">
  <!--Toolbar-->
  <md-toolbar color="primary" class="new-professor-card-toolbar">
    Professores Cadastrados
    <span class="spacer"></span>
  </md-toolbar>

  <md-card-content class="professor-card-content">

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Apelido</th>
          <th>Matrícula SIAP</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let professor of professors">
          <td>{{professor.name}}</td>
          <td>{{professor.nickname}}</td>
          <td>{{professor.SIAP}}</td>
          <td><button class="mdl-button mdl-js-button mdl-button--primary" [routerLink] = "['/edit-professor/' + professor.$key]">Editar</button></td>
          <!--mudar para atualizar melhor??-->
          <td><button (click)="onDeleteProfessor(professor.$key, professor.name)" class="mdl-button mdl-js-button mdl-button--accent">Excluir</button></td>
        </tr>
      </tbody>
    </table>
  </md-card-content>
</md-card>
