<md-card class="visualize-professor-card">
  <!--Toolbar-->
  <md-toolbar color="primary" class="new-professor-card-toolbar">
    Visualizar Professores
    <span class="spacer"></span>
  </md-toolbar>

  <md-card-content class="professor-card-content">

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Matrícula SIAP</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let p of professores">
          <td>{{p.nome}}</td>
          <td>{{p.SIAP}}</td>
          <td><button class="mdl-button mdl-js-button mdl-button--primary">Editar</button></td>
          <td><button class="mdl-button mdl-js-button mdl-button--accent">Deletar</button></td>
        </tr>
      </tbody>
    </table>
  </md-card-content>
</md-card>
