<md-card class="view-courses-card">
  <!--Toolbar-->
  <md-toolbar color="primary" class="view-courses-card-toolbar">
    Disciplinas Cadastradas
    <span class="spacer"></span>
  </md-toolbar>

  <md-card-content class="course-card-content">

    <table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Tipo</th>
          <th>Créditos</th>
          <th>Semestre Mínimo Recomendado</th>
          <th>Semestre Máximo Recomendado</th>
          <th>UA Ofertante </th>
          <th>UA Solicitante</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let course of courses">
          <td>{{course.name}}</td>
          <td>{{course.type}}</td>
          <td>{{course.credits}}</td>
          <td>{{course.minimumSemester}}</td>
          <td>{{course.maximumSemester}}</td>
          <td>{{course.offererDepartment}}</td>
          <td>{{course.requesterDepartment}}</td>
          <td><button class="mdl-button mdl-js-button mdl-button--primary" [routerLink] = "['/edit-course/' + course.$key]">Editar</button></td>
          <td><button (click)="onDeleteCourse(course.$key, course.name)" class="mdl-button mdl-js-button mdl-button--accent">Excluir</button></td>
        </tr>
      </tbody>
    </table>
  </md-card-content>
</md-card>
