<md-card class="add-restriction-card">
 <form>
  <!--Toolbar-->
    <md-toolbar color="primary" class="new-professor-card-toolbar">
      Restrições  
      <div class="mdl-layout-spacer"></div>
      <button md-button style="margin-right: 5px">Cancelar</button> 
      <button md-button>Salvar</button>
    </md-toolbar>

    <md-card-content class="add-restriction-card-content">
      <md-input-container class="credits-input">
        <input mdInput placeholder="Máximo de créditos" type="number">
      </md-input-container>

       <md-input-container class="credits-input">
        <input mdInput placeholder="Mínimo de créditos" type="number">
      </md-input-container>

       <md-input-container class="credits-input">
        <input mdInput placeholder="Créditos pós-graduação" type="number">
      </md-input-container>

      <hr>
      <div class="schedules-container">
        <div class="sliders-container">

            <md-slide-toggle
                class="restrictions-slider"
                [checked]="toughRestrictionSliderValue"
                (change)="onToughRestrictionsSliderToggled($event)">
              Horários impossíveis
            </md-slide-toggle>

            <md-slide-toggle
                class="restrictions-slider"
                [checked]="tractableRestrictionSliderValue"
                (change)="onTractableRestrictionsSliderToggled($event)"
                color="accent">
              Horários indesejáveis
            </md-slide-toggle>

        </div>

        <!--Schedules Table-->
        <table class="mdl-data-table mdl-js-data-table table-container">
          <!--Header of the table-->
          <thead>
            <tr>
              <th>Horário</th>
              <th>Segunda</th>
              <th>Terça</th>
              <th>Quarta</th>
              <th>Quinta</th>
              <th>Sexta</th>
            </tr>
          </thead>

          <!--Boby of the table-->
          <tbody *ngFor="let hour of hours">
              <tr>
                <td>{{ hour }}</td>
                <td><md-checkbox></md-checkbox></td>
                <td><md-checkbox></md-checkbox></td>
                <td><md-checkbox></md-checkbox></td>
                <td><md-checkbox></md-checkbox></td>
                <td><md-checkbox></md-checkbox></td>
            </tr>
          </tbody>
        </table>
      </div>

    </md-card-content>
 </form>
</md-card>