.classes-container {
    padding: 20px 20px 20px 20px;
    width: 100%;
    height: 100%;
    float: left;
    display: inline-flex;
}

.add-class-element {
    width: 900px;
}

.table-element {
    margin: 2%;
    width: 98%;
    max-width: 98%;
}

.board-element {
    width: 400px;
    margin-left: 20px;
}

.creation-table-element {
     display: inline-block;
}