<div class="mdl-layout__header-row">
  <!-- Title -->
  <span class="mdl-layout-title" [routerLink]="['/']">ALOCCA</span>
  <!-- Navigation. We hide it in small screens. -->
  <nav class="mdl-navigation mdl-layout--large-screen-only">
    <!--Register button-->
    <button id="demo-menu-lower-left-profs"
      class="mdl-button mdl-js-button mdl-button--accent mdl-color-text--white" style="margin-left: 100px">
    Professores
    </button>
    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
      for="demo-menu-lower-left-profs">
      <li class="mdl-menu__item" [routerLink]="['/add-professor']">Cadastrar</li>
      <li class="mdl-menu__item" [routerLink]="['/view-professors']">Cadastrados</li>
    </ul>
    <button id="demo-menu-lower-left-courses"
      class="mdl-button mdl-js-button mdl-button--accent mdl-color-text--white" style="margin-left: 5px">
    Disciplinas
    </button>
    <ul class="mdl-menu mdl-menu--bottom-left mdl-js-menu mdl-js-ripple-effect"
      for="demo-menu-lower-left-courses">
      <li class="mdl-menu__item" [routerLink]="['/add-course']">Cadastrar</li>
      <li class="mdl-menu__item" [routerLink]="['/view-courses']">Cadastradas</li>
    </ul>
    <button id="demo-menu-lower-left"
      class="mdl-button mdl-js-button mdl-button--accent mdl-color-text--white" [routerLink]="['/allocations']" style="margin-left: 5px">
    Alocações
    </button>



  </nav>
</div>