.fill-remaining-space {
   /*This fills the remaining space, by using flexbox.  
  Every toolbar row uses a flexbox row layout.*/
  flex: 1 1 auto;
}


/* Remove the blue outline from a selected option*/
*:focus {
outline: none;
}

.semester-select {
  color: white;
  display: inline-block;
}

.new-semester-selection {
    display: inline;
    align-content: center;
    align-items: center;
}

.page-content{
  overflow-x: auto;
}