#new-user-card {
  margin: 0% 0% 0.5% 0%;
  padding: 0px 0px 0px 0px;
}

#cancel-button{
}

#save-button{
  margin-left: 2%;
}

#new-user-card-content {
  text-align: left;
  padding: 1% 0% 1% 0%;
}

#user-SIAPE-input {
  width: 5%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  margin-left: 5%;
}

#user-name-input {
  width: 40%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  margin-left: 3%;
}

#user-email-input {
  width: 24%;
  margin-top: 0.5%;
  margin-bottom: 0.5%;
  margin-left: 3%;
}

.spacer {
  flex: 1 1 auto;
}