#new-user-card {
  margin: 25px 25px 25px 25px;
  padding: 0px 0px 0px 0px;
}

#cancel-button{
  margin-right: 1%;
}

#new-user-card-content {
  text-align: left;
  padding: 30px 30px 30px 30px;
}

#user-SIAPE-input {
  width: 10%;
  margin-top: 10px;
  margin-bottom: 1px;
}

#user-name-input {
  width: 30%;
  margin-top: 1%;
  margin-bottom: 1%;
}

#user-email-input {
  width: 30%;
  margin-top: 1%;
  margin-bottom: 1%;
}

.spacer {
  flex: 1 1 auto;
}