<md-card class="edit-class-card">
  <form (ngSubmit)="onUpdateClass()" #allocationForm="ngForm" align="center">
    <md-toolbar color="primary" class="edit-class-card-toolbar">
        Editar {{course}}
        <span class="spacer"></span>
        <button md-button style="margin-right: 5px" [routerLink]="['/classes']">Cancelar</button>
    </md-toolbar>

    <md-card-content class="edit-class-card-content">
      <div class="edit-class-card-row">

        <md-select class="professor1-name-input" placeholder="Docente 1" [(ngModel)]="professor1" name="professor1">
          <md-option *ngFor="let prof of professorsList" [value]="prof.name">
            {{ prof.name }}
          </md-option>
        </md-select>

        <md-select class="professor2-name-input" placeholder="Docente 2" [(ngModel)]="professor2" name="professor2">
          <md-option *ngFor="let prof of professorsList" [value]="prof.name">
            {{ prof.name }}
          </md-option>
        </md-select>


        <md-input-container class="class-note-input">
          <input mdInput class="allocation-note-input" placeholder="Observação" [(ngModel)]="currentNote" name="currentNote">
        </md-input-container>

      </div>
      <button md-button type="submit" color="primary">
      Alterar
      </button>
    </md-card-content>
  </form>
</md-card>